# Configuración General del Servidor
PORT=3000
NODE_ENV=development

# 🔐 Seguridad y Autenticación
JWT_SECRET=SUPER_SECRETO_DE_AL_MENOS_32_CARACTERES
BCRYPT_SALT_ROUNDS=10

# 💾 Conexión a Base de Datos (Para Desarrollo Local - se usa la URL completa)
DATABASE_URL=postgresql://user:password@localhost:5432/db_name?schema=public

# ☁️ Variables de Conexión de Render (Se usan en Producción cuando DATABASE_URL falta)
DB_HOST=RENDER_DB_HOSTNAME_EJEMPLO
DB_PORT=RenderPORT
DB_DATABASE=RENDER_DB_NAME
DB_USER=RENDER_DB_USER
DB_PASSWORD=RENDER_DB_PASSWORD