node_modules/
dist/
.env
.env_prod
*.log
.DS_Store
coverage/
.vscode/
.idea/
*.swp
*.swo
.env.test
.env.production
.env.production.local
.env.local
logs/
*.tsbuildinfo


/src/generated/prisma

backend-context.txt